/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 8, 2022, 10:47:26 AM
    Author     : guoc7
*/
*{
    padding:0;
    margin:0;
}

.forgot-back{
    background-image: url("https://images.unsplash.com/photo-1509486432407-f8fb9cc99acd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=699&q=80");
    background-repeat: no-repeat;
    background-size: 1900px 1000px;
    height:900px;
    filter: blur(8px)brightness(50%);
}

.forgot-password{
    height:700px;
    margin-right: 10%;
    margin-left:10%;
    position:absolute;
    width:1200px;
    bottom:3%;
    display:flex;
    border-radius: 15px;
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.7), 0 20px 20px 0 rgba(0, 0, 0, 0.9);
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.bg-image-left{
    background-image: url("https://images.unsplash.com/photo-1617396900799-f4ec2b43c7ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    filter:blur(1px);
    position: relative;
    height:200px;
}

.pass-left-content{
    background: url("https://images.unsplash.com/photo-1524169358666-79f22534bc6e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    padding:0;
    color:white;
    font-family: 'Games', sans-serif;
    text-align: center;
    justify-content: center;
    width:600px;
    padding-top:200px;
    border-radius: 15px;
}

#pass-left-h1{
    font-size: 100px;
}

.forgot-back-btn{
    display:block;
    width:30%;
    height:15%;
    border-radius:12px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-left:50%;
    text-decoration: none;
    color:gray;
    background-color:#171717;
    font-family: 'Games', sans-serif;
    font-size:30px;
    margin-top:90px;
    padding-top: 15px;
                                                
}

.pass-left-content a:hover{
    color:white;
    background-color:#171717;
}

.pass-right-content{
    width:600px;
    padding-top:4%;
    background-color:white;
    border-radius: 15px;
}

#fp-right-h1{
    font-size:50px;
}

#fp-right-p{
    margin-bottom:0;
}

#fp-email{
    width: 50%;
    padding-left:2%;
    margin-left:2%;
    height: 60px;
     -webkit-transition: width 1s ease-in-out;/*for chrome,IE,Edge*/ 
    -moz-transition:width 1s ease-in-out;/*for mozilla*/ 
    -o-transition: width 1s ease-in-out;/*for opera*/ 
    transition: width .5s ease-in-out; 
    border-left: 10px solid #90caf9;
}

#fp-email:focus{
    width: 70%;
}

.fp-useremail{
    padding-top:10%;
}

.fp-submit-button{
    display:block;
    width:30%;
    height:10%;
    border-radius:12px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-left:50%;
    background-color:#171717;
    font-family: 'Games', sans-serif;
    font-size:30px;
    margin-top:90px;
    padding-top: 10px;
}

.fp-submit{
   text-decoration:none; 
   color:gray;
   text-align: center;
   justify-content: center;
}

.fp-submit-button a:hover{
    color:white;
    background-color:#171717;
}
